
* {
    margin: 0;
     padding: 0;
    box-sizing: border-box;
}

:root {
    --clr: #000000;
 }

 body {
    background-color: #f9f9f9;
    height: 100%;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
 }

 .navbody {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 30vh;
    background-color: #0088CE;
    width: 100vw;
}
.navigation {
    width: 400px;
    height: 70px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navigation ul {
    display: flex;
    justify-content: space-around;
    width: 350px;
    
}
.navigation ul li {
    position: relative;
    list-style: none;
    width: 90px;
    height: 70px;
    z-index: 1;
    
}
.navigation ul li a {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .text {
    position: absolute;
    transform: translateY(-20px);
    color: #f9f9f9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-small;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation ul li:hover a .icon {
    transform: translateY(3px);
}
.navigation ul li.active a .icon {
    transform: translateY(3px);
}

.indicator {
    position: absolute;
    width: 400px;
    height: 130px;
    object-fit: contain;
    transition: 0.5s;
}

.indicator img {
    top: -26px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.indicator img::after{
    content: '';
    position: absolute;
    
}
.indicator img::after{
    
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}
.navigation ul li:nth-child(6).active ~ .indicator {
    transform: translateX(calc(70px * 5));
}
